
.haut-accueil{
    background-color: rgb(51, 100, 164);
    margin: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    gap: 100px;
    text-align: center;
    padding: 20px;
}

.bas-accueil{
    background-color: rgb(51, 100, 164);
    margin: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 100px;
    text-align: center;
    padding: 20px;
}

.bas-accueil >*, .haut-accueil >*, .haut-accueil >*>*{
    display: flex;
    gap: 30px;
    text-align: left;
}

.bas-accueil,.haut-accueil >*{
    color: white;
}

.bas-accueil >* a,.haut-accueil >* a{
    color: white;
    text-decoration: none;
}

.bas-accueil>*>* img, .haut-accueil>*>* img{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

