
.haut-accueil{
    background-color: rgb(51, 100, 164);
    margin: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
}

.bas-accueil{
    background-color: rgb(51, 100, 164);
    margin: 10px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 90px;
    text-align: center;
    padding: 20px;
}

.bas-accueil >*, .haut-accueil >*, .haut-accueil >*>*{
    display: flex;
    gap: 30px;
    text-align: left;
}

.bas-accueil >*{
    color: white;
}

.bas-accueil >* a{
    color: white;
    text-decoration: none;
}

.haut-accueil >* a{
    color: rgb(51, 100, 164);
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.bas-accueil>*>* img, .haut-accueil>*>* img{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.haut-accueil>*>*>li {
    list-style-type: none;
    display: flex;
    border-radius: 15px;
}

.sous-menu-content {
    display: none;
    position: absolute;
    background: white;
}

.show {
    display: block;
    border-radius: 15px;
}

.sous-menu-content a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.haut-accueil >* a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.citation{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.departement{
    background-color: rgb(51, 100, 164);
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}
.sous-departement{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.equipe-enseignante{
    border: 2px solid rgb(51, 100, 164);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(51, 100, 164);
}

.prof{
    border: 2px solid black ;
    border-radius: 200px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    display: flex;
}

.equipe-enseignante>*>* img{
    border: 2px solid black ;
    border-radius: 200px;
}
